<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250">F.A.Q.</h1>
		      <br><h1>Select A Category to Edit:</h1>
          <h2><a href="/faq-general">General</a></h2>
          <h2><a href="/faq-forfamilies">For Families</a></h2>
          <h2><a href="/faq-allhouses">All Houses</a></h2>
          <h2><a href="/faq-transportation">Transportation</a></h2>
          <h2><a href="/faq-neville">Neville</a></h2>
          <h2><a href="/faq-shadyside">Shadyside</a></h2>
          <h2><a href="/faq-universityplace">University Place</a></h2>
     </div>
</div>
