<br>
<h1 style="text-align: center">F.A.Q.</h1>
{{#each headers}}
	{{ this.title }}
{{/each}}
<!--asdsdd-->
<form action="/action_page.php" target="_blank">
	Question:<br>
	<input type="text" name="Question">
	<br>
	Answer:<br>
	<input type="text" name="Answer">
	<br><br>
	<select>
		<option value="ShadySide">ShadySide House</option>
		<option value="University-Place">University Place House</option>
		<option value="Neville">Neville House</option>
	</select>
	<br><br>
	<input type="submit" value="Submit">
</form>
