<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250"> Welcome to the Family House Admin Application!</h1>
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250"> This is the content!</h1>
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250"> {{name}}</h1>
		  <h1>Welcome to FamilyHouse</h1>


     </div>
</div>
