<div class="home-page">
     <div class="col-xs-12 home-page-welcome">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250"> Welcome to the Family House Admin Application!</h1>
		      <br><h1>Quick Links:</h1>
          <h2><a href="/notifications">Send Notifications</a></h2>
          <h2><a href="/linen">Linen Requests</a></h2>
          <h2><a href="/faq">F.A.Q.</a></h2>
     </div>
</div>
