
<<<<<<< HEAD
<div class="container" style="text-align: center; margin-top: 20px">
=======
<div class="container" style="text-align: center; margin-top: 20px; width: 50%">
>>>>>>> origin/master
	<img src="images/Family_house_pittsburgh.png">
</div>
<div class="container">
	<div class="row" style="margin-top: 50px;">
		<div class="col-md-4 col-xs-12">
			<div class="card text-white bg-secondary mb-3 text-center" style="max-width: 18rem; height: 210px;">
				<div class="card-header">Send Notifications</div>
				<div class="card-body">
					<p class="card-text">Click the button below to start buidling an alert or event notification to send out to the app</p>
					<a href="/notifications" class="btn btn-dark" style="background-color: #E2D478; color: #565A5C;">Send Notification</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-white bg-secondary mb-3 text-center" style="max-width: 18rem; height: 210px;">
				<div class="card-header">Linen Requests</div>
				<div class="card-body">
					<p class="card-text">Click the button below to view linen requests to view all linen requests or requests that are not completed</p>
					<a href="/linen" class="btn btn-dark" style="background-color: #E2D478; color: #565A5C;">Go to Requests</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-white bg-secondary mb-3 text-center" style="max-width: 18rem; height: 210px;">
				<div class="card-header">F.A.Q.</div>
				<div class="card-body">
					<p class="card-text">Click the button below to edit different sections on the faq page and update them on the app.</p>
					<a href="/faq" class="btn btn-dark" style="background-color: #E2D478; color: #565A5C;">Edit F.A.Q</a>
				</div>
			</div>
		</div>

	</div>
</div>
