<div class="home-page">
	<div class="col-xs-12 home-page-welcome">
		<h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250"> Welcome to the Family House Admin Application!</h1>
	</div>
</div>