<br>
<h1 style="text-align: center">Welcome to Family House!</h1>
<br><br>
<h2 style="text-align: center">Quick Links:</h2>
<h3 style="text-align: center"><a href="/alert">Alerts</a></h3>
<h3 style="text-align: center"><a href="/faq">F.A.Q.</a></h3>
<h3 style="text-align: center"><a href="/request">Request Linen</a></h3>
