<div>
	<h1>Linens</h1>
</div>
<p>Number of people per room</p>
<p id="display"></p>
<br><br><button onclick="myFunction()">Enter</button>

 <script>
   function myFunction() {
  var txt;
  var person = prompt("How many people are staying?", "");
  if (person == null || person == "") {
    txt = "Your order was cancelled";
  } else {
    txt = "" + person + "";
  }
  document.getElementById("display").innerHTML = txt;
}
</script>
