<div class="push_notification_text">
  <div class="container" style="text-align: center;">
          <h1 class="home-header-text" data-aos="fade-right" data-aos-duration="1250">Send Push Notifications</h1>
    </div>
</div>
<div class="container">
  <form action="/sendpushnotification" method="POST">
    <div class="form-row">
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="cars">Choose a type:</label>
          <select name="notification_type" class="form-control">
            <option value="" disabled selected>Select your option</option>
            <option value="1">Event</option>
            <option value="0">Alert</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="form-group">
          <label for="cars">Choose a type:</label>
          <select name="select_house" class="form-control">
            <option value="" disabled selected>Select House</option>
            <option value="1">Neville</option>
            <option value="2">Shadyside</option>
            <option value="3">University Place</option>
          </select>
        </div>
      </div>

    </div>
    <div class="form-row">
      <div class="col-md-6 col-xs-12">
        <div calss="form-group">
          <label for="message">Meesage</label>
          <textarea id="message" name="message" placeholder="Write something.." class="form-control" style="width: 100%; height: 250px"></textarea><br>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 col-xs-12">
        <div calss="form-group">
          <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
