<h1 style="text-align: center">Send Push Notification</h1>
<br>
<div class="container" style="text-align: center">
 <form action="/post" method="POST">
   <h3>Notification Type</h3>
   <input type="checkbox" name="event" value="event">
   <label for="event">Event Notification</label><br>
   <input type="checkbox" name="alert" value="alert">
   <label for="alert">Alert Notification</label><br><br>
   <h3>House</h3>
   <input type="checkbox" name="neville" value="neville">
   <label for="neville">Neville</label><br>
   <input type="checkbox" name="shadyside" value="shadyside">
   <label for="shadyside">Shadyside</label><br>
   <input type="checkbox" name="universityplace" value="universityplace">
   <label for="universityplace">University Place</label><br><br>
   <h3>Notification Message</h3>
   <textarea id="message" name="message" style="width: 200px; height: 170px" rows="10" cols="80" placeholder="Write something.."></textarea><br><br>
   <input type="submit">
 </form>
</div>
