/**********************

Main Styles for Application
Please Comment for organization purposes

***********************/


/* Global Styles */

.family_house_color_schema {
	background-color: #565A5C !important;
	color: #E2D478 !important;
}

.family_house_color_schema_reverse {
	color: #565A5C !important;
	background-color: #E2D478 !important;
}

/* End Global Styles */




/* Nav Bar Styles */
.navbar.navbar-expand-lg.navbar-dark.main {
	background-color: transparent;
}

body {
	background-color: #E2D478;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}


.col-xs-12.home-page-welcome {
	text-align: center;
	color: white;
	margin-top: 10px;
}

.navbar-image{
	height: 50px;
	width: 100px;
}


.disabled-button{


}

/* This is a media query that will change the style for anything from ipad to lower screen sizes */
@media screen and (max-width: 768px) {
	.home-header-text{
		font-size: 20px;
		margin-top: 15px;
	}
	.navbar-image{
		height: 50px;
		width: 100px;
	}



}




/* FAQ PAGE STYLES */

.faq-page-header-text{
    color: #565A5C;
    text-align: center;

}

.faq-page-form{
    color: #565A5C;
}

.faq-jumbo-button{
	background-color: #E2D478;
	color: #565A5C;

}

.faq-jumbo-button:hover{
	background-color: #565A5C;
	color: #E2D478;

}

.jumbo-faq .jumbotron {
	background-color: #565A5C;
	color: #E2D478;
}




/* Events Landing page */

.events-landing-title{
	text-align: center;
}

/* Events Detail */

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
